vendor
build
node_modules
/target
/tmp
.idea/
Brewfile.lock.json
heaptrack.*
.DS_Store

/crates/*/target

# vim swap files
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
