name: CI

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  packages: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Lint
      run: |
         cargo fmt --all -- --check
         cargo clippy -- --deny warnings -D clippy::unwrap_used
         cargo clippy --tests -- --deny warnings -A clippy::unwrap_used
